<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmz.service.serviceproduct.mapper.ServCheckupCatalogMapper">

    <select id="myPage" parameterType="com.xmz.service.serviceproduct.entity.vo.ServCheckupCatalogQuery"
            resultType="com.xmz.service.serviceproduct.entity.pojo.MyServCheckupCatalog">
        SELECT cata.`SCC_UUID`,
        cata.CATALOG_NAME,
        cata_item.SCCI_UUID,
        dir.`DIRECTORY_NAME`,
        cata_item.`TYPE`,
        cata_item.DESCRIPTION,
        cata.REMIND_START_TIME,
        cata.AGIN_CHECKUP_TIME,
        cata.IS_SET_MILE
        FROM serv_checkup_catalog cata
        INNER JOIN  serv_checkup_catalog_item cata_item
        ON cata.`SCC_UUID`=cata_item.`SCC_UUID`
        INNER JOIN serv_checkup_directory dir
        ON cata.`SCD_UUID`= dir.`SCD_UUID`
        <where>
            <if test="scc.directoryName !=null and scc.directoryName != ''">
                and dir.DIRECTORY_NAME = #{scc.directoryName}
            </if>
            <if test="scc.catalogName != null and scc.catalogName != ''">
                and cata.CATALOG_NAME like concat('%', #{scc.catalogName}, '%')
            </if>
        </where>
    </select>

    <select id="querycatalogName" parameterType="String"
            resultType="com.xmz.service.serviceproduct.entity.pojo.ServCheckupCatalog">
        SELECT * from serv_checkup_catalog where CATALOG_NAME=#{catalogName}
    </select>

    <select id="querySccUuid" parameterType="String"
            resultType="com.xmz.service.serviceproduct.entity.pojo.MyServCheckupCatalog">
        SELECT dir.`SCD_UUID`,
        cata.`SCC_UUID`,
        cata_item.SCCI_UUID,
        cata.CATALOG_NAME,
        dir.`DIRECTORY_NAME`,
        cata_item.`TYPE`,
        cata_item.DESCRIPTION,
        cata.REMIND_START_TIME,
        cata.AGIN_CHECKUP_TIME,
        cata.IS_SET_MILE
        FROM serv_checkup_catalog cata
        INNER JOIN  serv_checkup_catalog_item cata_item
        ON cata.`SCC_UUID`=cata_item.`SCC_UUID`
        INNER JOIN serv_checkup_directory dir
        ON cata.`SCD_UUID`= dir.`SCD_UUID`
        where cata.SCC_UUID=#{sccUuid}
    </select>

</mapper>
