<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmz.service.basedata.mapper.BaseProvincesMapper">
    <resultMap id="provMap" type="com.xmz.service.basedata.entity.pojo.BaseProvinces">
        <id property="provUuid" column="provUuid"></id>
        <association property="provList" javaType="list"
                     column="provUuid" select="com.xmz.service.basedata.mapper.BaseCitysMapper.selectById">

        </association>
    </resultMap>
</mapper>
